Flask
Flask-SQLAlchemy
Flask-Login
Flask-Security-Too
Flask-WTF
bcrypt
wtforms
mysql-connector-python
python-dotenv
email_validator
pyopenssl
dnspython>=2.6.0rc1 # not directly required, pinned by Snyk to avoid a vulnerability
