.button1,
.button10 {
    background-color: var(--hr-red);
    color: var(--white);
    border: none;
    border-radius: var(--border-radius-button);
    height: fit-content;
    width: fit-content;
    line-height: 16px;
    padding: 10px;
    margin-left: 4px;
    text-decoration: none;
}

.button1 a,
.button10 a {
    text-decoration: none;
    color: inherit;
}

.button1:hover,
.button10:hover {
    background-color: var(--hr-darker-red);
    transition: all 200ms;
}

#button10 {
    cursor: pointer;
    margin-bottom: 5px;
}