.flash, .flash-info, .flash-warning {
    font-size: medium;
    height: 55px;
    margin: 0;
}

.flash-info {
    background-color: #0fd3a6;
    color: #252525;
    border-left: 6px solid #0db18b;
}

.flash-warning {
    background-color: #a30c2e;
    color: #ffffff;
    border-left: 6px solid #7e0924;
}