#maih {
    display: flex;
    justify-content: center;
    width: 100%;
}

.Greet-Balk {
    display: flex;
    justify-content: center;
    border-radius: 5px;
    width: 25%;
    margin-top: 10px;
    text-align: center;
    font-size: 50px;
    color: var(--white);
}

.Greet-Text {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

#meeting-border {
    background-color: var(--white);
    width: 1000px;
    height: fit-content;
    margin-top: 10px;
    padding: 15px 0;
    border-radius: 5px;
    font-size: 30px;
}

#meeting-header {
    display: flex;
    justify-content: center;
    margin-top: 15px;
    margin-bottom: 20px;
    font-size: 50px;
}

#meeting-and-plan tr {
    background-color: var(--hr-light-gray);
}

#meeting1:hover,
#meeting2:hover,
#meeting3:hover {
    transform: scale(1.05);
}

#meeting1 {
    display: flex;
    justify-self: center;
    width: 60%;
    height: 20%;
    border-style: ridge;
    margin-top: 15px;
    margin-bottom: 5px;
    margin-left: 15px;
    border-radius: 25px;
}

#meeting2 {
    width: 60%;
    height: 20%;
    border-style: ridge;
    margin-bottom: 5px;
    margin-left: 15px;
    border-radius: 25px;
}

#meeting3 {
    width: 60%;
    height: 20%;
    border-style: ridge;
    margin-left: 15px;
    border-radius: 25px;
}

#check-meeting-button {
    display: flex;
    width: 30%;
    height: 55%;
    border-style: ridge;
    border-color: aquamarine;
    margin-right: 25px;
    border-radius: 25px;
    text-align: center;
    background-color: #ffffff;
}

#check-meeting-button:hover {
    filter: brightness(75%);
    transform: scale(1.05);
}

.Planning-text {
    color: black;
    text-align: center;
    margin-top: 40px;
}

#Select-Planning-button {
    height: 40px;
    width: 40px;
    border-style: none;
    border-radius: 25px;
    background-color: rgb(211, 15, 76);
    transition: 0.5ms;
    margin-left: 20px;
    outline: 0;
    margin-top: 15px;
    cursor: pointer;
}

#Select-Planning-button:hover {
    background-color: var(--white);
    transition: all 200ms;
}

#Select-Planning-button:hover .plus-knop {
    fill: var(--hr-red);
    transition: all 200ms;
}

.plus-knop {
    height: 45%;
    margin: 2px auto 0 auto;
}

.plus-knop:hover {
    background-color: var(--white);
    fill: var(--hr-red);
    transition: all 200ms;
}

#meeting-and-plan {
    display: flex;
    justify-content: space-around;
}

#meeting-table {
    margin-left: 50px;
    margin-top: 40px;
    padding: 10px;
    border-radius: 5px;
}

#Docent-Planning {
    margin-right: 50px;
    margin-top: 40px;
    padding: 10px;
    border-radius: 5px;
}

#docent-body td {
    padding: 0 10px;
}

.meeting-link {
    margin-top: -5px;
}

#Select-Teacher {
    appearance: none;
    text-align: center;
    background-color: var(--hr-light-gray);
}

#menu {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    z-index: 1;
    margin-left: 10px;

}

#menu a {
    color: #ffffff;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    background-color: rgb(211, 15, 76)
}

#menu a:hover {
    background-color: #ddd;
}