#meeting_info_content {
    display: flex;
    margin-top: 50px;
}

#meeting_table {
    margin-left: 50px;
}

#meeting_table table {
    width: 450px;
}

#meeting_table tr {
    display: flex;
    margin-bottom: 5px;
}

#meeting_table td:nth-child(1),
#meeting_table th:nth-child(1) {
    width: 200px;
}

#meeting_table td:nth-child(2),
#meeting_table th:nth-child(2) {
    width: 50px;
    text-align: center;
}

#meeting_table td:nth-child(3),
#meeting_table th:nth-child(3) {
    width: 125px;
    text-align: center;
}

#meeting_table td:nth-child(4),
#meeting_table th:nth-child(4) {
    width: 75px;
}

#meeting_table td:nth-child(4),
#meeting_table th:nth-child(4) {
    width: 75px;
}

.no_presence {
    color: var(--white);
    background-color: red;
}

.yes_presence {
    color: var(--white);
    background-color: green;
}

.maybe_presence {
    color: var(--white);
    background-color: goldenrod;
}

.presence_options {
    display: flex;
    justify-content: space-evenly;
}

.presence_options div {
    display: flex;
    justify-content: center;
    border-radius: 3px;
    width: 25px;
    font-weight: bold;
}

.presence_options div:hover {
    transition: 200ms;
}

#button_presence_no {
    background-color: transparent;
    color: red;
}

#button_presence_no:hover {
    background-color: red;
    color: var(--white);
}

#button_presence_yes {
    background-color: transparent;
    color: green;
}

#button_presence_yes:hover {
    background-color: green;
    color: var(--white);
}

#button_presence_maybe {
    background-color: transparent;
    color: goldenrod;
}

#button_presence_maybe:hover {
    background-color: goldenrod;
    color: var(--white);
}

.afgemeld_row {
    flex-wrap: wrap;
}

.afgemeld_reason {
    display: flex;
    justify-content: center;
    flex-basis: 100%;
    height: fit-content;
}

#meeting_list_table tbody tr:hover {
    background-color: var(--hr-light-gray);
}

@media (pointer:coarse) {
    #meeting_info_content {
        flex-direction: column;
        align-items: center;
    }

    #meeting_info {
        transform: scale(2);
        transform-origin: top;
        margin-bottom: 300px;
    }
}

#question_box {
    margin-left: 20px;
    margin-top: 30px;
}

#question_table {
    display: flex;
}