/* table 2: electric boogaloo */
#tabel {
    align-items: center;
    justify-content: center;
    width: 100%;
}

table {
    border-collapse: separate;
    border: none;
    border-spacing: 0 5px;
    color: var(--hr-dark-blue);
}

th {
    text-align: center;
    color: var(--white);
    height: fit-content;
    background-color: var(--hr-red);
    /*border: 1px solid var(--hr-darker-red);*/
}

tr th:first-child {
    border-radius: 6px 0 0 0;
}

tr th:last-child {
    border-radius: 0 6px 0 0;
}

td {
    text-align: center;
}

tr {
    background-color: var(--white);
}

tr td th {
    background-color: transparent;
    padding: 5px;
}

/*geef de tabellen waar je dit voor wil gebruiken een class en koppel deze code vast daaraan, zodat het geen effect heeft op de meeting tabel*/
/*CLASS_NAME_HERE tbody tr :hover {*/
/*    background-color: var(--gray);*/
/*    color: var(--white);*/
/*}*/

tr td:first-child {
    border-radius: 6px 0 0 0;
}

tr td:last-child {
    border-radius: 0 6px 6px 0;
}