#table {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

table {
    border-collapse: separate;
    border: none;
    border-spacing: 0 5px;
    color: var(--hr-dark-blue);
}

th {
    background-color: var(--bg-color);
}

tr {
    background-color: var(--white);
    border-radius: 5px;
}

tr td th{
    background-color: transparent;
    padding: 5px;
}
