@import url("https://fonts.googleapis.com/css2?family=Lobster&family=Oswald:wght@600&display=swap");


/* Count box design */

.div {

    border: 5px solid #004853;

    display: inline;

    padding: 5px;

    color: #004853;

    font-family: Verdana, sans-serif, Arial;

    font-size: 90px;

    font-weight: bold;

    text-decoration: none;

}

.timer {
    display: flex;
    font-size: 30px;
    font-family: 'Oswald', sans-serif;
    border-style: ridge;
    justify-content: center;
    width: 13%;
    border-radius: 50%;
    background-color: lightgreen;
}

.p5 {
    font-size: 25px;
}