header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: var(--hr-red);
    padding: 0 20px;
    max-height: fit-content;
}

#header_container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 75px;
    z-index: 2;
}

header * {
    background-color: transparent;
}

header div {
    display: flex;
    align-items: center;
}

header button {
    background-color: rgba(0, 0, 0, 0.2);
    color: var(--white);
    font-size: var(--font-size);
    font-weight: 600;
    line-height: 16px;
    border-radius: var(--border-radius-button);
    padding: 10px;
    margin-left: 4px;
    border: none;
    text-decoration: none;
}

header button:hover {
    background-color: var(--white);
    color: var(--hr-red);
    transition: 200ms;
}

#logo path {
    transition: 300ms;
}

#logo_text {
    margin-left: 16px;
}

#header_burger_menu {
    display: none
}

#burger_menu_button {
    display: block;
}
#burger_menu_button rect {
    transition: all 300ms;
}

#burger_menu_button button {
    padding: 8px;
}

#burger_menu_button:hover #burger_icon {
    fill: var(--hr-red);
    transition: 200ms;
}

#burger_menu button {
    margin: 5px 0;
}

#slide_menu {
    position: absolute;
    top: 0;
    right: 0;
    height: 100vh;
    width: 0;
    display: flex;
    justify-content: center;
    align-content: center;
    background-color: var(--white);
    transition: 300ms;
    z-index: 1;
}

#slide_buttons {
    display: none;
    flex-direction: column;
}

#slide_buttons button {
    background-color: var(--white);
    color: var(--gray);
    border-radius: 0;
    margin-bottom: 100px;
}

#slide_buttons button:hover {
    color: var(--hr-dark-blue);
    border-left: var(--hr-red) solid 3px;
}

#slide_buttons span {
    text-transform: uppercase;
    font-size: 2rem;
    font-weight: 400;
}

@media (pointer:coarse) {

    #header_container {
        height: 200px;
    }


    #logo {
        transform: scale(2);
        transform-origin: left;
    }

    #header_menu_buttons {
        display: none;
    }

    #burger_menu_button {
        transform: scale(2);
        transform-origin: right;
    }

    #burger_menu button {
        height: fit-content;
        padding: 100px 70px 70px 70px;
        margin: 0 20px 40px 20px;
        border-radius: 30px;
    }

    #burger_menu button span {
        font-size: calc(var(--font-size) * 5);
    }

    table {
        transform: scale(2);
        transform-origin: top;
    }

    #slide_buttons {
        transform: scale(2);
    }
}
