#meeting_info_content {
    display: flex;
    margin-top: 50px;
}

#meeting_table {
    margin-left: 50px;
}

.no_presence {
    color: red;
}

.yes_presence {
    color: green;
}

.maybe_presence {
    color: goldenrod;
}
.presence_options {
    display: flex;
    justify-content: space-evenly;
}

.presence_options div {
    border: none;
    border-radius: 3px;
}

.presence_options div:hover {
    color: var(--white);
    transition: 200ms;
}

#button_presence_no {
    background-color: transparent;
    color: red;
}

#button_presence_no:hover {
    background-color: red;
}

#button_presence_yes {
    background-color: transparent;
    color: green;
}

#button_presence_yes:hover {
    background-color: green;
}

#button_presence_maybe {
    background-color: transparent;
    color: goldenrod;
}

#button_presence_maybe:hover {
    background-color: goldenrod;
}

@media (pointer:coarse) {
    #meeting_info_content {
        flex-direction: column;
        align-items: center;
    }
    #meeting_info {
        transform: scale(2);
        transform-origin: top;
        margin-bottom: 300px;
    }
}