{% extends "base.html" %}
{% block title %}Nieuwe klas{% endblock %}
{% block head %}
    {{ super() }}
{% endblock head %}
{% block content %}
    <div>
        <h1>Voeg een nieuwe klas toe</h1>            
        <div>
            <form id="user" method="POST" action="/admin/klas/add">
                <label for="klas">Klas</label>
                <input type="text" name="klas" value="{{klas}}">
                <button type="submit" id="admin_stuff" class="button1">Voeg klas toe</a></button>
            </form>
        </div>
    </div>
{% endblock %}
{% block script %}
    {{ super() }}
{% endblock script %}