{% extends "base.html" %}
{% block title %}Docenten{% endblock %}
{% block head %}
    {{ super() }}
{% endblock head %}
{% block content %}
    <main>
        <div id="docent_table">
            <h1>Docenten</h1>
            <table>
                <thead>
                    <tr>
                        <th>Docentencode</th>
                        <th>Voornaam</th>
                        <th>Achternaam</th>
                        <th>Email</th>
                        <th>Wachtwoord</th>
                        <th>Admin</th>
                    </tr>
                </thead>
              <tbody></tbody>
            </table>
        </div>
        <div id="admin_stuff">
            <button><span><a href="/admin/teacher/add">Voeg docent toe</a></span></button>
        </div>
    </main>
{% endblock %}
{% block script %}
    {{ super() }}
    <script src="../static/js/admin_docent.js"></script>
{% endblock script %}
