{% extends "base.html" %}
{% block title %}Meeting{% endblock %}
{% block head %}
    {{ super() }}
{% endblock head %}
{% block content %}
<main>
    <h1>Aaaadmin panle</h1>
    <div id="admin-panel">
        <p><a href="/admin/student"><button class="button3">Studenten</button></a></p>
        <p><a href="/admin/klas"><button class="button3">Klassen</button></a></p>
        <p><a href="/admin/teacher"><button class="button3">Docenten</button></a></p>
        <p><a href="/admin/enrollment"><button class="button3">Inschrijvingen</button></a></p>
    </div>
</main>
{% endblock %}
{% block script %}
    {{ super() }}
{% endblock script %}
