<!DOCTYPE html>
<html lang="en">
    <head>
        {% block head %}
            <meta charset="UTF-8">
            <title>{% block title %}{% endblock %}</title>
            <link rel="stylesheet" href="/static/css/base.css" type="text/css">
             <!-- icon voor tablad bovenaan -->
            <link rel="icon" type="image/x-icon" href="{{url_for ('static', filename='hr.ico') }}">
        {% endblock head %}
    </head>
    <body>
        {% include 'header.html' %}
        <div id="content">{% block content %}{% endblock %}{% with messages = get_flashed_messages(with_categories=true) %}{% if messages %}{% for category, message in messages %}<div class="flash-{{category}}"><p><strong>{{ message }}</strong></p></div>{% endfor %}{% endif %}{% endwith %}</div>
    </body>
    {% block script %}
        <script src="../static/js/header.js"></script>
    {% endblock script %}
</html>

