<!DOCTYPE html>
<html lang="en">
    <head>
        {% block head %}
            <meta charset="UTF-8">
            <title>{% block title %}{% endblock %}</title>
            <link rel="stylesheet" href="/static/base.css" type="text/css">
             <!-- icon voor tablad bovenaan -->
            <link rel="icon" type="image/x-icon" href="{{url_for ('static', filename='hr.ico') }}">
        {% endblock head %}
    </head>
    <body>
        {% include 'header.html' %}
        <div id="content">{% block content %}{% endblock %}</div>
    </body>
    {% block script %}
<script src="../static/header.js">
</script>
{% endblock script %}
</html>
