{% extends "base.html" %}
{% block title %}Check In{% endblock %}
{% block head %}
    {{ super() }}
    <script src="../static/js/index.js"></script>
{% endblock head %}
{% block content %}
    <div id="checkin_content">
        <div id="checkin-text">
            <h3>Check-In<h3>
        <form method="post">
              </div>
                <div id="answer_box">
                   <div id="questions_input">
                    <label>Studenten id</br>
                        <input name="studentenid"></label>
                        {% if question is not none %}
                        <!-- <label>meetingid<br> 
                        <input name="meetingid"></label> -->
                    <label>{{ question }}<br>
                        <input name="vraag1">
                    </label>
                     <!-- <label>Vraag 2<br>
                         <input name="vraag2"></label>
                     <label>Vraag 3<br>
                         <input name="vraag3"></label> -->
                   </div>
                </div>
            
            {% endif %}
            <button class="button1">Ik ben aanwezig</button>
        </form>
    </div>
{% endblock %}
{% block script %}
    {{ super() }}
    <script src="../static/js/checkin.js">
    </script>
{% endblock script %}