{% extends "base.html" %}
{% block title %}Klassen{% endblock %}
{% block head %}
    {{ super() }}
{% endblock head %}
{% block content %}
    <main>
        <h1>Klassen</h1>
        <div id="test">
            <table id="tabel">
                <thead>
                    <tr>
                        <th>Klas</th>
                    </tr>
                </thead>
            </table>
        {% if session.username == 'admin' %}
            <div id="admin_stuff">
                <button class="button1"><a href="/admin/klas/add">Voeg klas toe</a></button>
            </div>
        {% endif %}
        </div>
    </main>
{% endblock %}
{% block script %}
    {{ super() }}
    <script src="../static/js/klas.js"></script>
{% endblock script %}