{% extends "base.html" %}
{% block title %}Inschrijvingen{% endblock %}
{% block head %}
    {{ super() }}
{% endblock head %}
{% block content %}
    <main>
        <div id="enrollment_table">
            <h1>Inschrijvingen</h1>
            <div id="admin_stuff">
              <span><button class="button1"><a href="/admin/enrollment">Voeg nieuwe inschrijving toe</a></button></span>
            </div>
            <table>
                <thead>
                    <tr>
                        <th id="doei">id</th>
                        <th>Studentennummer</th>
                        <th>Voornaam</th>
                        <th>Achternaam</th>
                        <th>Klas</th>
                    </tr>
                </thead>
              <tbody></tbody>
            </table>
        </div>
    </main>
{% endblock %}
{% block script %}
    {{ super() }}
    <script src="/static/js/enrollment.js"></script>
{% endblock script %}
