{% extends "base.html" %}
{% block title %}Meeting{% endblock %}
{% block head %}
    {{ super() }}
{% endblock head %}
{% block content %}
    <div id="meeting_info_content">
        <div id="meeting_info">
            <h1>{{ meeting_info[0]["name"] }}</h1>
            <h4>Datum</h4>
            <p>{{ meeting_info[0]["date"] }}</p>
            <h4>Tijd</h4>
            <p>{{ meeting_info[0]["start_time"] }}-{{ meeting_info[0]["end_time"] }}</p>
            <h4>Locatie</h4>
            <p>{{ meeting_info[0]["location"] }}</p>
            <h4>leraar(en)</h4>
            <p>{{ meeting_info[0]["teacher"] }}</p>
            <button class="button1"><a href="/QRgen/{{ meetingId[0] }}" target="_blank">Laat QR code zien</a></button><br>
            <button class="button1" id="show_answers">Antwoorden zien</button>
        </div>
        <div id="meeting_table">
            <table>
                <thead>
                    <tr>
                        <th>Student</th>
                        <th>Klas</th>
                        <th>Aanwezigheid</th>
                        <th>tijd</th>
                        <th>Aanpassen</th>
                    </tr>
                </thead>
                <tbody id="presence_table"></tbody>
                <tfoot id="presence_table_footer"></tfoot>
            </table>
        </div>
        <!-- Sends data over to checkin/..  -->
    </div>
    <div id="question_box">
        <label>
           <h1 id='question_title'>Vraag</h1>
        </label>
        <span id="message_question"></span>
        <label>
            <input id='question'name="question" placeholder="vraag.."><br>
        </label>
        <button class='button1'id="button10">Maak vraag</button>
        <div id="questions_here">
        <table id="question_table">
         <thead>
                <tr>
                    <th id="question_header">Antwoord</th>
                </tr>
         </thead>
         <tbody id="tbody_answers"> 
         </tbody>
        </table>
    </div>
</div>

{% endblock %}
{% block script %}
    {{ super() }}
    <script src="../static/js/meeting.js"></script>
    <script src="../static/js/update_meeting.js"></script>
{% endblock script %}
