{% extends "base.html" %}
{% block title %}Meeting{% endblock %}
{% block head %}
    {{ super() }}
{% endblock head %}
{% block content %}

    <div id="meeting_info">
    <div>
        <button onclick="get_meeting()">Get from API</button>
        <div id="test_div"></div>
    </div>
        <h1>{{ meeting_info[0]["name"] }}</h1>
        <h2>{{ meeting_info[0]["date"] }}</h2>
        <h3>{{ meeting_info[0]["location"] }}</h3>
        <h4>{{ meeting_info[0]["teacher"] }}</h4>
        <table>
            <thead>
                <tr>
                    <th>Student</th>
                    <th>Aanwezigheid</th>
                </tr>
            </thead>
            <tbody id="presence_table"></tbody>
        </table>
    </div>

{% endblock %}
{% block script %}
    {{ super() }}
        <script src="../static/meeting.js"></script>
{% endblock script %}