{% extends "base.html" %}
{% block title %}Meeting{% endblock %}
{% block head %}
    {{ super() }}
{% endblock head %}
{% block content %}
    <form method="post">
        <label>Naam les:<br>
            <input placeholder="Naam les">
        </label>
        <label>Datum:<br>
            <input id="meeting_datetime" type="datetime-local" min>
        </label>
        <label>Locatie:<br>
            <input>
        </label>
        <label>Docent(en):<br>
            <input type="checkbox" name="">
        </label>
        <label>Klassen:<br>
            <input type="checkbox" name="">
        </label>
        <button class="button1">Plan in</button>
    </form>
{% endblock %}
{% block script %}
    {{ super() }}
    <script src="../static/meeting.js"></script>
{% endblock script %}
