{% extends "base.html" %}
{% block title %}QR scan{% endblock %}
{% block head %}
    {{ super() }}
    <!-- https://github.com/nimiq/qr-scanner -->
{% endblock head %}
{% block content %}
    <main>
        <h1>QR Code</h1>
        <div id="qrscan-container">
            <video id="qrscan"></video>
        </div>

        <script type="module">
            import QrScanner from "static/qr-scanner.min.js";

            const video = document.getElementById("qrscan-container");
            const videoContainer = document.getElementById("qrscan");

            const scanner = new QrScanner(video)

            function doSomething(){
                console.log("HELP");
            }

            doSomething();
        </script>
    </main>
{% endblock content %}