{% extends "base.html" %}
{% block title %}QR gen{% endblock %}
{% block head %}
    {{ super() }}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/qrious/4.0.2/qrious.min.js"></script>
    <!-- https://github.com/neocotic/qrious -->
{% endblock head %}
{% block content %}
    <main>
        <h1>QR Code</h1>
        <div id="test">
            <form>
                <input type="text" id="text"/>
                <button type="button" id="qr-gen">genereer qr</button>
                <br/>
            </form>
        </div>
        <div id="qrcontainer">
            <canvas id="qr"></canvas>
        </div>
    </main>
{% endblock content %}
{% block script %}
    {{ super() }}
    <script src="../static/js/qrgen.js"></script>
{% endblock script %}