<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/basic.css" type="text/css" />
    <title>Document</title>
</head>
<body>
  <div class="timer-border">
    <div class="timer" name="timer">
      <p id ="days"></p>
      <p id ="hours"></p>
      <p id ="mins"></p>
      <p id ="secs"></p>
      <p id ="end"></p>
     </div>
    </div>

    <!-- <audio id="alarm_audio"></audio>

<audio controls>
<source src="{{url_for('static', filename='boowomp.mp3') }}" type="audio/mp3">
      Your browser no support
</audio> -->

<script src="static/index.js">
</script>
</body>
</html>