{% extends "base.html" %}
{% block title %}Student{% endblock %}
{% block head %}
    {{ super() }}
{% endblock head %}
{% block content %}
    <div>
        <h1 id="student_name">Input student name here</h1>
        <div id="table_student_presence">
            <table>
                <thead>
                    <tr>
                        <th>Meeting</th>
                        <th>Dag</th>
                        <th>Aanwezigheid</th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
    </div>
{% endblock %}
{% block script %}
    {{ super() }}
    <script src="/static/js/student_presence.js" defer></script>
{% endblock script %}