{% extends "base.html" %}
{% block title %}Studenten{% endblock %}
{% block head %}
    {{ super() }}
{% endblock head %}
{% block content %}
    <main>
        <h1>Studenten</h1>
        <div id="test">
            <table id="table">
                <tr>
                    <th>some text</th> 
                </tr>
                <tr>
                    <td>some text 2: electric boogaloo</td>
                </tr>
            </table>
        </div>
    </main>
{% endblock %}
{% block script %}
    {{ super() }}
    <script src="../static/js/student.js"></script>
{% endblock script %}