{% extends "base.html" %}
{% block title %}Studenten{% endblock %}
{% block head %}
    {{ super() }}
{% endblock head %}
{% block content %}
    <main>
        <h1>Studenten</h1>
        <div id="test">
            <table id="table">
                <thead>
                    <tr>
                        <th>studentennummer</th>
                        <th>voornaam</th> 
                        <th>achternaam</th>  
                    </tr>
                </thead>
                
            </table>
        </div>
    </main>
{% endblock %}
{% block script %}
    {{ super() }}
    <script src="../static/js/student.js"></script>
{% endblock script %}