{% extends "base.html" %}
{% block title %}Docenten{% endblock %}
{% block head %}
    {{ super() }}
{% endblock head %}
{% block content %}
    <main>
        <h1>Docenten</h1>
        <div id="test">
            <table id="tabel">
                <thead>
                    <tr>
                        <th>Docentencode</th>
                        <th>Voornaam</th> 
                        <th>Achternaam</th> 
                        <th>Email</th> 
                    </tr>
                </thead>
            </table>
        </div>
    </main>
{% endblock %}
{% block script %}
    {{ super() }}
    <script src="../static/js/teacher.js"></script>
{% endblock script %}