{% extends "base.html" %}
{% block title %}Gebruiker{% endblock %}
{% block head %}
    {{ super() }}
{% endblock head %}
{% block content %}
    <div>
        <h1>Gebruiker {{gb}}</h1>            
        <div>
            <form id="user" method="POST" action="/user/{{id}}">
                <input type="hidden" name="_method" value="PATCH">
                <label for="id">Gebruikersid</label>
                <input class="id" name="user_id" value="{{id}}" readonly>
                <label for="gebruikersnaam">Gebruikersnaam</label>
                <input type="text" name="gebruikersnaam" value="{{gb}}">
                <label for="wachtwoord">Wachtwoord</label>
                <input type="text" name="wachtwoord" value="{{ww}}">
                <label for="type">Type</label>
                <input type="checkbox" name="is_admin" value="{{tp}}" {{ "checked" if tp == 1 }}>
            </form>
        </div>
        <div id="admin_stuff">
            <button><span><a href="" onclick="update_user('{{id}}')">Bewerk gebruiker</a></span></button>
            <button><span><a href="" onclick="delete_user('{{id}}')">Verwijder gebruiker</a></span></button>
        </div>
    </div>
{% endblock %}
{% block script %}
    {{ super() }}
    <script src="/static/js/user_detail.js"></script>
{% endblock script %}