{% extends "base.html" %}
{% block title %}Gebruikers{% endblock %}
{% block head %}
    {{ super() }}
{% endblock head %}
{% block content %}
    <main>
        <h1>Gebruikers</h1>
        <div id="user_table">
            <table>
                <thead>
                    <tr>
                        <th>Gebruikersid</th>
                        <th>Email</th>
                        <th>Docent</th>
                        <th>Type</th>
                    </tr>
                </thead>
              <tbody></tbody>
            </table>
        </div>
        {% if session.username == 'admin' %}
            <div id="admin_stuff">
                <button><span><a href="/admin/user/add">Voeg gebruiker toe</a></span></button>
            </div>
        {% endif %}
    </main>
{% endblock %}
{% block script %}
    {{ super() }}
    <script src="/static/js/user.js"></script>
{% endblock script %}
