{% extends "base.html" %}
{% block title %}Gebruiker{% endblock %}
{% block head %}
    {{ super() }}
{% endblock head %}
{% block content %}
    <div>
        <h1>Gebruiker {{userid}}</h1>
        <div id="table">
            <table>
                <thead>
                    <tr>
                        <th>Gebruikersid</th>
                        <th>Gebruikersnaam</th>
                        <th>Wachtwoord</th>
                        <th>Type</th>
                    </tr>
                </thead>
                <tbody>
                    <td>{{id}}</td>
                    <td>{{gb}}</td>
                    <td>{{ww}}</td>
                    <td>{{tp}}</td>
                </tbody>
            </table>
        </div>
        <div id="admin_stuff">
            <button><span><a href="/admin">Bewerk gebruiker</a></span></button>
            <button><span><a href="/admin">Verwijder gebruiker</a></span></button>
        </div>
    </div>
{% endblock %}
{% block script %}
    {{ super() }}
{% endblock script %}